<<<<<<< HEAD
h1, h2{
  font-size: 60px;
  text-align: center;
  font-family: Arial;
  margin: 10px;
=======

h1, h2{
  font-size: 60px;
  text-align: center;
  font-family: Arial;margin: 10px;
>>>>>>> 4cf937c (ganti jadi game)
}

.container{
  width: 600px;
  margin: auto;
  cursor: crosshair;
}

.container:active{
<<<<<<< HEAD
  cursor: url(../img/hammer.png), auto;
=======
  cursor: url(../image/hammer.png), auto;
>>>>>>> 4cf937c (ganti jadi game)
}
.tanah{
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: left;
}

button{
  display: block;
  margin: auto;
}

.tanah::after {
  content: '';
  display: block;
  width: 200px;
  height: 100px;
  background: url(../image/tanah.png) bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: -25px;
}

.tikus{
  width: 100%;
  height: 100%;
  background: url(../image/tikus.png) bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100px;
  transition: top 0.3s;
}

.tanah.muncul .tikus {
  top: -15px;
<<<<<<< HEAD
}
=======

}
>>>>>>> 4cf937c (ganti jadi game)
